<style type="text/css">
    caption {
        margin-bottom: 15px;
    }
</style>
<div class="content">
    <table class="table table-stripped span10">
        <caption><a title="Iniciativas" id="1" name="1"></a><strong><h2>Iniciativas</h2></strong><p>Encuentros abiertos con fines comunitarios.
Los mismos cuentan con Fecha, Lugar, Organizador, Objetivo, categoría y cantidad de participantes.
Los datos representan encuentros reales, visualizados en el mapa, organizados en el tiempo e integrado por un grupo de organizadores y participantes. </p></caption>
        <tbody>
            <tr>
                <td class="span5">
                    <strong>GET /api/0.1/iniciativa</strong>
                </td>
                <td>
                    Devuelve todas las iniciativas.
                </td>
            </tr>
            <tr >
                <td >
                    <strong>GET /api/0.1/iniciativa/category/:category</strong>
                </td>
                <td>
                    Devuelve las iniciativas por categoria.
                </td>
            </tr>
            <tr>
                <td >
                    <strong>GET /api/0.1/iniciativa/s_name/:name</strong>
                </td>
                <td>
                    Devuelve la iniciativa por el nombre provisto.
                </td>
            </tr>
            <tr >
                <td >
                    <strong>GET /api/0.1/iniciativa/:id</strong>
                </td>
                <td>
                    Devuelve la iniciativas por el id de la misma.
                </td>
            </tr>
            <tr>
                <td >
                    <strong>PUT /api/0.1/iniciativa</strong>
                </td>
                <td>
                    Crea una nueva iniciativa
                </td>
            </tr>
            <tr >
                <td >
                    <strong>PUT /api/0.1/iniciativa/:id</strong>
                </td>
                <td>
                    Modifica una iniciativa existente
                </td>
            </tr>

        </tbody>
    </table>

    <table class="table table-stripped span10">
        <caption><a title="Organizadores" id="2" name="2"></a><strong><h2>Organizadores</h2></strong><p>Los creadores de las iniciativas comunitarias. Los mismos pueden ser tanto individuales, colectivos, ONGs, privados, públicos o de la sociedad civil.
Cada organizador puede tener muchas iniciativas, en diversos puntos del mapa.</p></caption>
        <tbody>
            <tr>
                <td class="span5">
                    <strong>GET /api/0.1/organizadores</strong>
                </td>
                <td>
                    Devuelve todos los organizadores.
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table table-stripped span10">
        <caption><a title="Participantes" id="3" name="3"></a><strong><h2>Participantes</h2></strong><p>Quienes participan de las iniciativas. Vecinos, ciudadanos, voluntarios.
Los datos de actividad de un participante reflejan sus intereses, actividades y territorio en el que está involucrado.</p></caption>
        <tbody>
            <tr>
                <td class="span5">
                    <strong>GET /api/0.1/participantes</strong>
                </td>
                <td>
                    Devuelve todos los participantes.
                </td>
            </tr>
        </tbody>
    </table>


</div>
