
<div class="content">
    <table class="views-table cols-2">
        <caption><a title="Iniciativas" id="109" name="109"></a><strong><h2>Iniciativas</h2></strong><p> Iniciativas, explicacion. </p></caption>
        <tbody>
            <tr class="odd views-row-first">
                <td class="views-field views-field-title span4">
                    <strong>GET /api/iniciativa</strong>
                </td>
                <td class="views-field views-field-body">
                    Devuelve todas las iniciativas.
                </td>
            </tr>
            <tr class="even">
                <td class="views-field views-field-title span4">
                    <strong>GET /api/iniciativa/category/:category</strong>
                </td>
                <td class="views-field views-field-body">
                    Devuelve las iniciativas por categoria.
                </td>
            </tr>
            <tr class="odd views-row-first">
                <td class="views-field views-field-title span4">
                    <strong>GET /api/iniciativa/s_name/:name</strong>
                </td>
                <td class="views-field views-field-body">
                    Devuelve la iniciativa por el nombre provisto.
                </td>
            </tr>
            <tr class="even">
                <td class="views-field views-field-title span4">
                    <strong>GET /api/iniciativa/:id</strong>
                </td>
                <td class="views-field views-field-body">
                    Devuelve la iniciativas por el id de la misma.
                </td>
            </tr>
            <tr class="odd views-row-first">
                <td class="views-field views-field-title span4">
                    <strong>PUT /api/iniciativa</strong>
                </td>
                <td class="views-field views-field-body">
                    Crea una nueva iniciativa
                </td>
            </tr>
            <tr class="even">
                <td class="views-field views-field-title span4">
                    <strong>PUT /api/iniciativa/:id</strong>
                </td>
                <td class="views-field views-field-body">
                    Modifica una iniciativa existente
                </td>
            </tr>
    
        </tbody>
    </table>

    <table class="views-table cols-2">
        <caption><a title="Organizadores" id="109" name="109"></a><strong><h2>Iniciativas</h2></strong><p> Iniciativas, explicacion. </p></caption>
        <tbody>
            <tr class="odd views-row-first">
                <td class="views-field views-field-title span4">
                    <strong>GET /api/iniciativa</strong>
                </td>
                <td class="views-field views-field-body">
                    Devuelve todas las iniciativas.
                </td>
            </tr>
            <tr class="even">
                <td class="views-field views-field-title span4">
                    <strong>GET /api/iniciativa/category/:category</strong>
                </td>
                <td class="views-field views-field-body">
                    Devuelve las iniciativas por categoria.
                </td>
            </tr>
            <tr class="odd views-row-first">
                <td class="views-field views-field-title span4">
                    <strong>GET /api/iniciativa/s_name/:name</strong>
                </td>
                <td class="views-field views-field-body">
                    Devuelve la iniciativa por el nombre provisto.
                </td>
            </tr>
            <tr class="even">
                <td class="views-field views-field-title span4">
                    <strong>GET /api/iniciativa/:id</strong>
                </td>
                <td class="views-field views-field-body">
                    Devuelve la iniciativas por el id de la misma.
                </td>
            </tr>
            <tr class="odd views-row-first">
                <td class="views-field views-field-title span4">
                    <strong>PUT /api/iniciativa</strong>
                </td>
                <td class="views-field views-field-body">
                    Crea una nueva iniciativa
                </td>
            </tr>
            <tr class="even">
                <td class="views-field views-field-title span4">
                    <strong>PUT /api/iniciativa/:id</strong>
                </td>
                <td class="views-field views-field-body">
                    Modifica una iniciativa existente
                </td>
            </tr>
    
        </tbody>
    </table>

</div>
