extends ../layout

block content
  h1.main-title Ayudamos a personas que trabajan con iniciativas positivas uniéndolos con quienes desean colaborar con su comunidad

  .box-wrapper
    .box-participa
      h2 Participá
      p En iniciativas abiertas y gratuítas cerca de tu casa.
      a(href='#') Sumate
    .box-organiza
      h2 Organizá
      p Difundí y sumá participantes a tu iniciativa.
      a(href='#') Sumate
  .main-video
    iframe(src='http://player.vimeo.com/video/65076873', width='100%', height='308', frameborder='0', webkitAllowFullScreen, mozallowfullscreen, allowFullScreen)

  .ultimas-iniciativas
    h3 Últimas <span class="weak">iniciativas</span>

    #map_browser.ultimas-iniciativas-mapa
      ul.clearfix.ultimas-iniciativas-filtro
        li#browser_all.selected(data-icon='') Ver todas
        li#browser_me(data-icon='') Medio ambiente
        li#browser_ac(data-icon='') Arte y cultura
        li#browser_ed(data-icon='') Educación
        li#browser_ds(data-icon='') Desarrollo social
      .ultimas-iniciativas-mapa-wrapper
        div(id="map_canvas", style="width:100%; height:100%")
      script(src='/static/js/iniciativa.js')
      |<script>
      |  $(function(){
      |    map_browser = new iniciativa.MapBrowser();
      if geo
        |  map_browser.reset({
        - each g in geo
          |  user_location: {
          |    latitud: #{g.latitud},
          |    longitud: #{g.longitud}
          |  }
        |  });
      |  });
      |</script>
