<div class="container">
<span class="row">
	<span class="span12"> 
 		<h1>Para poder proseguir, debes loguearte</h1>
	</span>
</span>
<br/><br/>
<span>
	    <span class="span6 login-redes">
		<fieldset><legend>a traves de tus redes sociales</legend>	
			<span class="row">
			    <span class="span5">
						  <a href="/auth/facebook">
						    <img src="/static/img/social-btn-facebook.png">
						  </a>
			    </span>
			</span>
			<span class="row">
			    <span class="span5">
						  <a href="/auth/twitter">
						    <img src="/static/img/social-btn-twitter.png">
						  </a>
			    </span>
			</span>
			<br/><br/><br/><br/>
			</span>
		</fieldset>	 	
	   </span>
   	   <span class="span6 login-coperable">	
		<fieldset><legend>con tu cuenta <img src="/static/img/logo-1.png" width="100px"></legend>	
			<form class="form-horizontal" action="/user/login" method="post">
			    <span class="row">
				<span class="span2">
			    		<label for="username">Usuario</label>
				</span>
				<span class="span2">
					<input type="text" required="" name="username" id="username">
				</span>
			    </span>
			    <span class="row">
				<span class="span2">
					<label for="password">Contraseña</label>
			   	</span>
				<span class="span2">
			    		 <input type="password" required="" name="password" id="password">
				</span>
			    </span>
			    <span class="row">
				<span class="span6">
			    	  <button class="btn" type="submit">Confirmar</button>
				</span>
			    </span>
			    <span class="row">
				<span class="span6">	
		 			<p>Si no tienes cuenta te puedes registrar <strong><a href="/user/signup">acá</a></strong></p>
				</span>
		  	    </span>    
		      </form>
	      </fieldset> 
	</span>
</span>
</div>
