<div class="container pure-g-r">
  <h1 class="pure-u-1">Ingresá</h1>
  <div class="module pure-u-2-5 centered">
    <p>Podes usar tus redes sociales para hacer login</p>
    <a href="/auth/facebook">
      <img src="/static/img/social-btn-facebook.png"/>
    </a>
    <a href="/auth/twitter" class="btn btn-large btn-block">
      <img src="/static/img/social-btn-twitter.png"/>
    </a>
    <p>o tu cuenta coperable</p>
    <form method="post" action="/user/login" class="pure-form">
      <fieldset class="pure-group">
        <input type="text" name="username" placeholder="Usuario" class="pure-input-1" required>
        <input type="password" name="password" placeholder="Contraseña" class="pure-input-1" required>
      </fieldset>
      <button type="submit" class="pure-button pure-input-1 pure-button-primary">Aceptar</button>
    </form>
    <p>Si no tienes cuenta puedes registate <strong><a href="/user/signup">acá</a></strong></p>
  </div>
</div>