<div class="container pure-g-r">
  <h1 class="pure-u-1">Registrate</h1>
  <div class="pure-u-1-2 centered">
    <form method="POST" action="/user/signup" class="pure-form pure-form-aligned">
      <input type="hidden" name="latitude" id="latitude"/>
      <input type="hidden" name="longitude" id="longitude"/>

      <div class="pure-control-group">
        <label for="username">Usuario</label>
        <input id="username" name="username" type="text" placeholder="Usuario" required>
      </div>

      <div class="pure-control-group">
        <label for="password">Contraseña</label>
        <input id="password" name="password" type="password" placeholder="Contraseña" required>
      </div>

      <div class="pure-control-group">
        <label for="confirm-password">Confirmar Contraseña</label>
        <input id="confirm-password" type="password" placeholder="Confirmar Contraseña" required>
      </div>

      <div class="pure-control-group">
        <label for="email">Email</label>
        <input id="email" name="email" type="email" placeholder="Email" required>
      </div>

      <div class="pure-control-group">
        <label for="first_name">Nombre</label>
        <input id="first_name" name="first_name" type="text" placeholder="Nombre" required>
      </div>

      <div class="pure-control-group">
        <label for="last_name">Apellido</label>
        <input id="last_name" name="last_name" type="text" placeholder="Apellido" required>
      </div>

      <div class="pure-control-group">
        <label for="birthdate">Fecha de Nacimiento</label>
        <input id="birthdate" name="birthdate" type="date" placeholder="Fecha de Nacimiento" required>
      </div>

      <div class="pure-control-group">
        <label for="address">Dirección</label>
        <input id="address" name="address" type="text" placeholder="Dirección">
      </div>

      <div class="pure-control-group">
        <label for="about">Sobre mí</label>
        <textarea id="about" name="about" placeholder="Sobre mí"></textarea>
      </div>

      <button type="submit" class="pure-button pure-button-primary">Registrarme</button>
    </form>
  </div>
</div>