<!DOCTYPE html>
<html>
    <head>
        {{> header}}
    </head>
    <body onload="initialize()">
        <div class="container">
            {{> menu_site}}
            <h3>Registrate</h3>
            <form class="form-horizontal" method="POST" action="/user/signup">
                <div class="control-group">
                    <label class="control-label" for="username">Usuario</label>
                    <div class="controls">
                        <input type="text" name="username" id="username" value="" name class="span3" required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="password">Password</label>
                    <div class="controls">
                         <input type="password" name="password" id="password" value="" class="span3" required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="confirm-password">Confirmar Password</label>
                    <div class="controls">
                         <input type="password" id="confirm-password" class="span3" required/>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="email">Email</label>
                    <div class="controls">
                        <input type="email" name="email" class="span3" required/>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Aceptar</button>
                    <button type="button" class="btn">Cancel</button>
                </div
            </form>
        </div>
    </body>
</html>

