body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#dropzone {
    box-sizing: border-box;
    color: rgb(172, 172, 172);
    cursor: pointer;
    display: block;
    font-family: Cabin;
    font-size: 14px;
    height: 188px;
    line-height: 188px;
    left: 0px;
    outline-color: rgb(172, 172, 172);
    outline-style: none;
    outline-width: 0px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 0px;
}

#super-zone {
-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
background-attachment: scroll;
background-clip: border-box;
background-color: rgba(0, 0, 0, 0);
background-origin: padding-box;
background-size: auto;
border-bottom-color: rgb(229, 229, 229);
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(229, 229, 229);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(229, 229, 229);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(229, 229, 229);
border-top-style: solid;
border-top-width: 1px;
box-sizing: border-box;
color: rgb(172, 172, 172);
cursor: pointer;
display: block;
font-family: Cabin;
font-size: 14px;
height: 190px;
margin-bottom: 5px;
outline-color: rgb(172, 172, 172);
outline-style: none;
outline-width: 0px;
overflow-x: hidden;
overflow-y: hidden;
position: relative;
text-align: center;
text-transform: uppercase;
width: 560px;
}
