<div class="iniciativas-list pure-g-r">
  {{#iniciativas}}
    <div class="iniciativas-list-item-wrapper pure-u-1-3">
      <div class="iniciativas-list-item category-environment stage-{{current_stage}}" id="iniciativas-list-item-{{_id}}">
        <div class="thumb">
	  <div class="label" id="div_categoria"></div>
          <div class="iniciativas-list-item-map" style="width: 100%;height: 130px;"></div>
        </div>
        <div class="wrapper">
          <table>
		<tr>
			<td>
			  <h4 class="title">
			    <a href="/iniciativas/{{_id}}">{{name}}</a>
			  </h4>
		 	</td>
		</tr>
		<tr>
			<td>
			<button class="pure-button boton-participar" id="button_compartir" onclick="javascript:try_compartir(true,'iniciativas-list-item-{{_id}}')">Compartir</button>
			<div style="width: 250px; height: 50px; display:none" id="modalCompartir" >
				<fieldset><legend>Compartir</legend>
				<table width="100%">
					<tbody>
					    <tr><td><a href="http://www.facebook.com"><img width="30px" height="30px" src="/static/img/facebook.png"></a></td>
					    <td><a href="http://www.twitter.com"><img width="30px" height="30px" src="/static/img/twitter.png"></a></td>
					    <td><a href="http://www.youtube.com"><img width="30px" height="30px" src="/static/img/youtube.png"></a></td>
					    <td align="right"><a class="pure-button boton-participar" href="javascript:try_compartir(false, 'iniciativas-list-item-{{_id}}')">X</a></td></tr>
				</tbody></table>		
			 	</fieldset>
			</div>
			<br/>
			</td>
		</tr>
	</table>
	 <p class="address ellipsis" data-icon="">Organizador: {{owner.name}}</p>
          <div class="start-date ellipsis" data-icon="">Creado: {{creation_date}}
          </div>
          <p class="address ellipsis" data-icon="">{{address}}</p>
        </div>
        <ul class="stages wrapper">
          <li class="convocatoria actual">Convocatoria<div class="icon"></div></li>
          <li class="activando">Activando<div class="icon"></div></li>
          <li class="finalizada">Finalizada<div class="icon"></div></li>
        </ul>
        <div class="actions wrapper">
          <a href="/iniciativas/{{_id}}" rel="/iniciativas/{{_id}}" class="pure-button boton-participar">Participá</a>
          <div class="text">{{pariticipants_amount}} participando</div>
        </div>
	<div class="row">
		<div style="position:absolute; left:65%" id="div_social_network"></div>
	</div>
      </div>
      <script type="text/javascript">
        $(function(){
          var $item = $("#iniciativas-list-item-{{_id}}")
          $item.find('.iniciativas-list-item-map').goMap({
            markers: [{
                latitude: {{location.latitude}},
                longitude: {{location.longitude}}
            }],
            navigationControl: false,
            mapTypeControl: false,
            scrollwheel: false,
            disableDoubleClickZoom: true,
            maptype: 'ROADMAP'
          });
          var $date = $item.find('.start-date')
          $date.html(moment($date.html()).lang('es').fromNow());
	
	  var categoria=({{categories.arte_cultura}}?'Arte y cultura':({{categories.desarrollo}}?'Desarrollo':		({{categories.educacion}}?'Educacion':({{categories.medio_ambiente}}?'Medio ambiente':'Otra categoría'))));
	  $("#div_categoria").html(categoria);

	  
	  
	  var links_redes_sociales='<table><tr>';
	  
	  {{#network.facebook.text}} 
	   links_redes_sociales+='<td><a href="'+{{network.facebook.text}}+'"><img src="/static/img/facebook.png" class="image_network"/></a></td>'; 
	  {{/network.facebook.text}}
	  
	  {{#network.twitter.text}} 
	   links_redes_sociales+='<td><a href="'+{{network.twitter.text}}+'"><img src="/static/img/twitter.png" class="image_network"/></a></td>'; 
	  {{/network.twitter.text}}

	  {{#network.youtube.text}} 
	   links_redes_sociales+='<td><a href="'+{{network.youtube.text}}+'"><img src="/static/img/youtube.png" class="image_network"/></a></td>'; 
	  {{/network.youtube.text}}

	  if(links_redes_sociales=='<table><tr>'){
	  	links_redes_sociales+='<td><img src="/static/img/facebook.png" class="image_network" title="Sin cuenta de Facebook vinculada"/><img src="/static/img/twitter.png" class="image_network" title="Sin cuenta de Twitter vinculada"/><img src="/static/img/youtube.png" class="image_network" title="Sin cuenta de Youtube vinculada"/></td>';
	  } 
	  
	  links_redes_sociales+='</tr></table>';
 
	  $("#div_social_network").html(links_redes_sociales);

	})
      </script>
    </div>
  {{/iniciativas}}
</div>
<script type='text/javascript' src='/static/js/_list.js'></script>
