<div class="iniciativas-list pure-g-r">
  {{#iniciativas}}
    <div class="iniciativas-list-item-wrapper pure-u-1-3">
      <div class="iniciativas-list-item category-environment stage-{{current_stage}}" id="iniciativas-list-item-{{_id}}">
        <div class="thumb">
          <div class="label">Medio Ambiente</div>
          <div class="iniciativas-list-item-map" style="width: 100%;height: 130px;"></div>
        </div>
        <div class="wrapper">
          <h4 class="title">
            <a href="/iniciativas/{{slug}}">{{name}}</a>
          </h4>
          <p class="address ellipsis" data-icon="">{{address}}</p>
          <div class="start-date ellipsis" data-icon="">
            {{creation_date}}
          </div>
        </div>
        <ul class="stages wrapper">
          <li class="convocatoria actual">Convocatoria<div class="icon"></div></li>
          <li class="activando">Activando<div class="icon"></div></li>
          <li class="finalizada">Finalizada<div class="icon"></div></li>
        </ul>
        <div class="actions wrapper">
          <a href="/iniciativas/{{slug}}" rel="/iniciativas/{{slug}}" class="pure-button boton-participar">Participá</a>
          <div class="text">{{pariticipants_amount}} participando</div>
        </div>
      </div>
      <script type="text/javascript">
        $(function(){
          var $item = $("#iniciativas-list-item-{{_id}}")
          $item.find('.iniciativas-list-item-map').goMap({
            markers: [{
                latitude: {{location.latitude}},
                longitude: {{location.longitude}}
            }],
            navigationControl: false,
            mapTypeControl: false,
            scrollwheel: false,
            disableDoubleClickZoom: true,
            maptype: 'ROADMAP'
          });
          var $date = $item.find('.start-date')
          $date.html(moment($date.html()).lang('es').fromNow())
        })
      </script>
    </div>
  {{/iniciativas}}
</div>