    <link rel="stylesheet" type="text/css" href="/static/javascripts/redactor/redactor.css"></link>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/javascripts/redactor/plugins/clips.css"></link>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/stylesheets/datepicker.css"></link>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/bootstrap/css/bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/flat/css/flat-ui.css"></link>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/daterangepicker-bs3.css"></link>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/bootstrap-datetimepicker.min.css"></link>

    <script src="/static/lib/flat-ui/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/static/javascripts/bootstrap-typeahead.min.js"></script>
    <script src="/static/javascripts/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/static/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type='text/javascript' src='/static/bootstrap/js/bootstrap-tab.js'></script>
    <script type='text/javascript' src='/static/bootstrap/js/bootstrap-button.js'></script>
    <script src="/static/javascripts/bootstrap-typeahead.min.js"></script>
    <script src="/static/javascripts/bootstrap-datepicker.js"></script>
    <script src="/static/javascripts/jquery.addresspicker.min.js"></script>
    <script src="/static/javascripts/redactor/redactor.min.js"></script>
    <script src="/static/javascripts/redactor/plugins/fullscreen.js"></script>
    <script src="/static/javascripts/redactor/plugins/clips.js"></script>
    <script src="/static/javascripts/redactor/es.js"></script>
    <script src="/static/javascripts/underscore-min.js"></script>
    <script src="/static/javascripts/backbone-min.js"></script>
    <script src="/static/flat/js/jquery.tagsinput.js"></script>
    <script src="/static/flat/js/custom_checkbox_and_radio.js"></script>
    <script type="text/javascript" src="/static/javascripts/daterangepicker.js"></script>
    <script src="/static/lib/fileUpload/js/vendor/jquery.ui.widget.js"></script>
    <script src="/static/lib/fileUpload/js/jquery.iframe-transport.js"></script>
    <script src="/static/lib/fileUpload/js/jquery.fileupload.js"></script>

    <script src="/static/js/iniciativa.js"></script>

