<!--
<style>
  #wrapper { position: relative; }
  #over_map { position: relative; top: -30px; left: 10px; z-index: 99; }
  .dropSheet {

    opacity: 0.5;
    filter: alpha(opacity=50);
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #000000 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #000000 100%);
    /* Opera */
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #000000 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #000000));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #000000 100%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #000000 100%);
  }
</style>
<h3>{{iniciativa.name}}</h3>
<h4>{{iniciativa.goal}}</h4>


<div id="tareas">
  {{#iniciativa.tasks}}
  <ul>
    <li>
      {{description}}
    </li>
  </ul>
  {{/iniciativa.tasks}}
</div>

<div id="description"> </div>

<div id="wrapper" class="offset1 span10" style="height:400px">
  <div id="map_canvas" style="width:100%; height:100%"></div>

  <div id="over_map" class="dropSheet" >
    <h3><span style="font-color: #FFFFFF"> {{iniciativa.start_date}}</span></h3><br />
    <h4><span style="font-color: #FFFFFF"> {{iniciativa.address}}<span></h4>
  </div>
</div>

</div>

<script>

  function initialize() {

  var descripcion = $('<div />').html('{{iniciativa.description}}').text();
     $('#description').html(descripcion);
    var location = new google.maps.LatLng({{iniciativa.location.latitude}},{{iniciativa.location.longitude}});
    var myOptions = {
      zoom: 14,
      center:  location,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);


    var markerTemplate = _.template([
      '<div class="media">',
        '<a class="pull-left" href="#">',
        '</a>',
        '<div class="media-body">',
          '<h3><a class="iniciativa" data-id="{{iniciativa._id}}" href="#">{{iniciativa.name}}</a></h3>',
          '<div class="media">',
            '<p class="descSmall">'+descripcion+'</p>',
          '</div>',
        '</div>',
      '</div>'].join(''));

      console.log(markerTemplate);

      var marker = new google.maps.Marker({
        title: '{{iniciativa.name}}',
        position: location,
        map: map
      });
      marker.info = new google.maps.InfoWindow({
        content:markerTemplate('{{iniciativa.description}}')
      })
      google.maps.event.addListener(marker, 'click', function(){
        marker.info.open(map, marker);
      });

   };
   initialize();
</script>
-->
<div id="initiativePage">
  <div id="initiativeContent">
        <h1 class="title">{{iniciativa.name}}</h1>
        <div class="info">Por <a class="name" href="#">Matías Cheistwer</a> en <a href="#" data-category="environment">Medio ambiente</a></div>
        <section role="main">
          <h3>Objetivo</h3>
            <div class="objective">{{iniciativa.goal}}</div>
            <div class="location">
              <div class="info">
                  <div class="when">Martes 23/05 18:40hs</div>
                    <div class="where">Silvio L. Ruggieri 2743, Palermo, Buenos Aires</div>
                </div>
            </div>

            <div class="cell tags-wrapper">
              <h3>Tareas</h3>
                <ul class="orange tags">
                  <li>Separación de residuos</li>
                  <li>Coordinación</li>
                </ul>
            </div>
            <div class="cell tags-wrapper">
              <h3>Etiquetas</h3>
                <ul class="tags">
                  <li>Basura</li>
                  <li>Residuos</li>
                  <li>Contaminación</li>
                  <li>Reciclaje</li>
                </ul>
            </div>

            <div class="cell description">
              <h3>Descripción</h3>
                <p>
                  En la zona de Colegiales, cada vezhabitamos más vecinos, es una zona muy agradable la cual nos ha hecho sentir cómodos.
                    Naturalmente, mientras más vecino somos, mayor cantidad de desperdicios producimos, desgraciadamente no siempre estamos
                    concientes de que para que continuemos viviendo cómodos necesitamos cooperar cada uno de nosotros.
        </p>
                <p>
          Este fin de semana estaremos trabajando en conjunto un grupo de vecinos con el objetivo de reducir desperdicios llenando
                    10 contenedores de basura, sumate a nuestra causa!
                </p>
            </div>

            <div class="cell comments">
              <h3>Comentarios</h3>
        <div class="fb-comments" data-href="http://example.com" data-width="630" data-num-posts="8"></div>
            </div>

        </section>
    </div>
    <div id="initiativeSidebar">
        <div class="wrapper">
            <ul class="status">
                <li>Convocatoria<div class="icon"></div></li>
                <li class="actual">Activando<div class="icon"></div></li>
                <li>Finalizada<div class="icon"></div></li>
            </ul>
            <div class="participants">
              <div class="info">
                  <span class="num">25</span> Participantes<br />
                    <b>de <span class="total">120</span></b>
                </div>
                <ul class="users-list-sq">
                  <li><img src="/static/img/users/user-1-sq.jpg" /></li>
                  <li><img src="/static/img/users/user-2-sq.jpg" /></li>
                  <li><img src="/static/img/users/user-3-sq.jpg" /></li>
                  <li><img src="/static/img/users/user-4-sq.jpg" /></li>
                  <li><img src="/static/img/users/user-5-sq.jpg" /></li>
                  <li><img src="/static/img/users/user-6-sq.jpg" /></li>
                  <li><img src="/static/img/users/user-7-sq.jpg" /></li>
                  <li><img src="/static/img/users/user-8-sq.jpg" /></li>
                  <li><img src="/static/img/users/user-10-sq.jpg" /></li>
                  <li><img src="/static/img/users/user-11-sq.jpg" /></li>
                </ul>
                <a href="#" class="green button big block participar">Participá</a>
                <style type="text/css">
                  .participar {
                    -webkit-transition: background-color 0.3s linear;
                    -moz-transition: background-color 0.3s linear;
                    -o-transition: background-color 0.3s linear;
                    -ms-transition: background-color 0.3s linear;
                    transition: background-color 0.3s linear;
                  }
                  .participar.participando {
                    background-color: #C32C2C;
                  }
                </style>
                <script type="text/javascript">
                  $(function(){
                    var $btn = $('.participar')
                    $btn.on('click', function(){ $btn.toggleClass('participando') })
                  })
                </script>
            </div>
            <div class="cell">
                <h4>Difundir</h4>
                <div class="fb-btn"></div>
                <div class="twitter-btn"></div>
            </div>
            <div class="cell">
                <h4>Video</h4>
                <iframe src="http://player.vimeo.com/video/37376915" width="265" height="141" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
        </div>
        <div class="wrapper about">
          <div class="title">Sobre el organizador</div>
            <div class="info">
                <img src="/static/img/users/user-12-mq.jpg" />
                <a href="#" class="name">Matías Cheistwer</a>
                <div class="place">Buenos Aires, Argentina</div>
            </div>
            <div class="description">
              Mi nombre es Matías, trabajo en la zona de Colegiales desde hace casi un año promoviendo la separación de resiuduos y el reciclado.
            </div>
            <div class="other">
              <div class="title">Otras iniciativas de Matías</div>
                <div class="pic">
                <div class="name">Reforcemos techos de Buenos Aires</div>
                  <img src="/static/img/iniciativas/initiativepic-7-mq.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>
<div id="fb-root"></div>