
<div id="initiativePage">
  <div id="initiativeContent">
        <h1 class="title">{{iniciativa.name}}</h1>
        <div class="info">Por <a class="name" href="/user/{{iniciativa.owner.user}}">{{iniciativa.owner.name}}</a> en <a href="#" data-category="environment">{{iniciativa.main_category}}</a></div>
        <section role="main">
          <h3>Objetivo</h3>
            <div class="objective">{{iniciativa.goal}}</div>
            <div class="location">
              <div class="info">
                  <div class="when">{{iniciativa.creation_date}}</div>
                    <div class="where">{{iniciativa.address}}</div>
                </div>
            </div>

            <div class="cell tags-wrapper">
              <h3>Tareas</h3>
                <ul class="orange tags">
                {{#iniciativa.tasks}}
                  <li>{{tag}}</li>
                {{/iniciativa.tasks}}
                
                </ul>
            </div>
            <!--  
            <div class="cell tags-wrapper">
              <h3>Etiquetas</h3>
                <ul class="tags">
                  <li>Basura</li>
                  <li>Residuos</li>
                  <li>Contaminación</li>
                  <li>Reciclaje</li>
                </ul>
            </div>
            -->

            <div class="cell description">
              <h3>Descripción</h3>
                
                  {{iniciativa.description}}
                
            </div>

            <!-- div class="cell comments">
              <h3>Comentarios</h3>
        <div class="fb-comments" data-href="http://example.com" data-width="630" data-num-posts="8"></div>
            </div -->
            
        </section>
    </div>
    <div id="initiativeSidebar">
        <div class="wrapper">
            <ul class="status">
                <li>Convocatoria<div class="icon"></div></li>
                <li class="actual">Activando<div class="icon"></div></li>
                <li>Finalizada<div class="icon"></div></li>
            </ul>
            <div class="participants">
              <div class="info">
                  <span class="num">{{iniciativa.members.length}}</span> Participantes<br />
                    <b>de <span class="total">{{iniciativa.participants_amount}}</span></b>
                </div>
                <ul class="users-list-sq">
                  <li><img src="/static/img/users/user-1-sq.jpg" /></li>
                  <li><img src="/static/img/users/user-2-sq.jpg" /></li>
                  <li><img src="/static/img/users/user-3-sq.jpg" /></li>
                  <li><img src="/static/img/users/user-4-sq.jpg" /></li>
                  <li><img src="/static/img/users/user-5-sq.jpg" /></li>
                  <li><img src="/static/img/users/user-6-sq.jpg" /></li>
                  <li><img src="/static/img/users/user-7-sq.jpg" /></li>
                  <li><img src="/static/img/users/user-8-sq.jpg" /></li>
                  <li><img src="/static/img/users/user-10-sq.jpg" /></li>
                  <li><img src="/static/img/users/user-11-sq.jpg" /></li>
                </ul>
                <a class="green button big block participar">Participá</a>
                <style type="text/css">
                  .participar {
                    -webkit-transition: background-color 0.3s linear;
                    -moz-transition: background-color 0.3s linear;
                    -o-transition: background-color 0.3s linear;
                    -ms-transition: background-color 0.3s linear;
                    transition: background-color 0.3s linear;
                  }
                  .participar.participando {
                    background-color: #C32C2C;
                  }
                </style>
                <script type="text/javascript">
                  $(function(){
                    var $btn = $('.participar')
                    $btn.on('click', function(){ $btn.toggleClass('participando') })
                  })
                </script>
            </div>
            <div class="cell">
                <h4>Difundir</h4>
                <div class="fb-btn"></div>
                <div class="twitter-btn"></div>
            </div>
            <div class="cell">
                <h4>Video</h4>
                <iframe src="http://player.vimeo.com/video/37376915" width="265" height="141" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
        </div>
        <div class="wrapper about">
          <div class="title">Sobre el organizador</div>
            <div class="info">
                <img src="/static/img/users/user-12-mq.jpg" />
                <a href="/user/{{iniciativa.owner.user}}" class="name">{{iniciativa.owner.name}}</a>
                <div class="place">{{user.location}}</div>
            </div>
            <div class="description">
                {{profile.about}}
            </div>
            <div class="other">
              <div class="title">Otras iniciativas de {{iniciativa.owner.name}}</div>
                {{#profile.iniciativas}}
                
                <div class="pic">
                	<div class="name">{{description}}</div>
                  	<img src="{{profile_picture}}" />
                </div>
                {{/profile.iniciativas}}

            </div>
        </div>
    </div>
</div>
<div id="fb-root"></div>
