// Libs
@import '/static/lib/lesshat/lesshat.less';

// Global Files
@import 'globals.less';
@import 'layout.less';

// Partials
@import 'iniciativa/_list.less';

// View Specific
@import 'home/index.less';
@import 'user/login.less';
@import 'user/signup.less';

.category-environment {
        color: #388D47 !important;
        border-color: #388D47 !important;
        background: #FFF !important;
        &.active{
            color: #FFF !important;
            background: #388D47 !important ;
        }
}
.category-art {
  background:#!important;
    color: #EB3130 !important;
    border-color: #EB3130 !important;
    background: #FFF !important;
    &.active{
        color: #FFF !important;
        background: #EB3130 !important ;
    }
}
.category-education {
    color: #37A2df !important;
    border-color: #37A2df !important;
    background: #FFF !important;
    &.active{
        color: #FFF !important;
        background: #37A2df !important ;
    }
}
.category-social {
    color: #E17a36 !important;
    border-color: #E17a36 !important;
    background: #FFF !important;
    &.active{
        color: #FFF !important;
        background: #E17a36 !important ;
    }
}

