.ellipsis {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

@import '/static/lib/lesshat/lesshat.less';
@import 'layout.less';

@import 'iniciativa/_list.less';

@import 'home/index.less';
@import 'user/login.less';