<!DOCTYPE html>
<html lang='es'>
<head>
  <title>{{layoutTitle}} | Coperable</title>
  <link rel="stylesheet" type="text/css" media="screen" href="/static/bootstrap/css/bootstrap.min.css"></link>
  <link rel="stylesheet" type="text/css" media="screen" href="/static/flat/css/flat-ui.css"></link>
  <link rel='stylesheet/less' href='/static/css/styles.less'></link>
  <link rel='stylesheet/less' href='/static/stylesheets/styles.less'></link>

  <script src='//cdn.jsdelivr.net/less/1.4.2/less.min.js'></script>

  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
  <script src='//cdn.jsdelivr.net/lodash/2.1.0/lodash.underscore.min.js'></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.3.1/moment-with-langs.min.js'></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js'></script>
  <script src='//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false'></script>
  <script src="/static/lib/jquery.gomap-1.3.2.js"></script>
  <script src="/static/js/iniciativa.js"></script>
  <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>

  {{>head_resources}}
</head>
<body id='{{layoutId}}'>
  <header>
    <div class="content-wrapper">
      <div>
        <div class="logo"><a href="/"><img src="/static/img/logo-1.png"/></a></div>
      </div>
      <div>
        <nav>
          <ul>
            <li><a href="/iniciativas">Iniciativas</a></li>
            <li><a href="/iniciativas/create">Organizá</a></li>
            {{#user}}
              <li><a href="/user/{{user.id}}">{{user.username}}</a></li>
              <li><a href="/user/logout">Salir</a></li>
            {{/user}}
            {{^user}}
              <li><a href="/user/login">Ingres&aacute;</a></li>
            {{/user}}
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <div class="content-wrapper">
    {{{ yield }}}
  </div>

  {{>bottom_resources}}
</body>
</html>
