doctype html
html(lang='es')
  head
    title #{layoutTitle} | Coperable
    link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.3.0/base-min.css')
    link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.3.0/grids-min.css')
    link(rel='stylesheet/less', href='/static/css/styles.less')

    script(src='//cdn.jsdelivr.net/less/1.4.2/less.min.js')

    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='//cdn.jsdelivr.net/lodash/2.1.0/lodash.underscore.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js')
    script(src='//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false')
  body(id='#{layoutId}')
    header
      .pure-g.content-wrapper
        .pure-u-1-2
          .logo
            a(href='/'): img(src="/static/img/logo-1.png")
        .pure-u-1-2
          nav: ul
            li: a(href='#') Iniciativas
            li: a(href='#') Organizá

    .content-wrapper
      block content