    <footer>
      <div class="container">
        <div class="row">
          <div class="span7">
            <h3 class="footer-title">Footer 1</h3>
            <p>
              Bla bla
            </p>
          </div> 

          <div class="span5">
            <div class="footer-banner">
              <h3 class="footer-title">Footer 2</h3>
              <ul>
                <li>Enlaces, etc</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Load JS here for greater good =============================-->
    <script src="/static/javascripts/jquery-ui-1.10.2.custom.min.js"></script>
    <script src="/static/flat/js/jquery.dropkick-1.0.0.js"></script>
    <script src="/static/flat/js/custom_checkbox_and_radio.js"></script>
    <script src="/static/flat/js/custom_radio.js"></script>
    <script src="/static/flat/js/jquery.tagsinput.js"></script>
    <script src="/static/flat/js/bootstrap-modal.js"></script>
    <script src="/static/flat/js/bootstrap-tooltip.js"></script>
    <script src="/static/flat/js/jquery.placeholder.js"></script>
    <script src="/static/flat/js/application.js"></script>
    <!--[if lt IE 8]>
      <script src="/static/flat/js/icon-font-ie7.js"></script>
      <script src="/static/flat/js/icon-font-ie7-24.js"></script>
    <![endif]-->
