        <ul class="nav nav-pills">
            <li class="active">
                <a href="#">Mapa</a>
            </li>
            <li>
                <a href="#">Grilla</a>
            </li>
            <li>
                <a href="#">Todas</a>
            </li>
            <li>
                <a href="#">Medio Ambiente</a>
            </li>
            <li>
                <a href="#">Arte y Cultura</a>
            </li>
            <li>
                <a href="#">Educacion</a>
            </li>
            <li>
                <a href="#">Desarrollo Social</a>
            </li>
        </ul>
