        <ul class="nav nav-pills">
            <li class="active">
                <a id="browser_map">Mapa</a>
            </li>
            <li>
                <a id="browser_all">Todas</a>
            </li>
            <li>
                <a id="browser_me">Medio Ambiente</a>
            </li>
            <li>
                <a id="browser_ac">Arte y Cultura</a>
            </li>
            <li>
                <a id="browser_ed">Educacion</a>
            </li>
            <li>
                <a id="browser_ds">Desarrollo Social</a>
            </li>
        </ul>
